name: FridgeRecipe CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Create local.properties
        run: |
          echo "admob_app_id=${{ secrets.ADMOB_APP_ID }}" >> local.properties
          echo "admob_banner_id=${{ secrets.ADMOB_BANNER_ID }}" >> local.properties
          echo "admob_reward_id=${{ secrets.ADMOB_REWARD_ID }}" >> local.properties

      - name: Create google-services.json
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo "$GOOGLE_SERVICES_JSON" > app/google-services.json

      - name: Build Release AAB
        run: ./gradlew bundleRelease

      - name: Sign Release AAB
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.KEYSTORE_BASE64 }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Create Release Notes
        run: |
          mkdir whatsnew
          echo "${{ github.event.head_commit.message }}" > whatsnew/whatsnew-ko-KR

      - name: Upload to Google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_CONFIG_JSON }}
          packageName: com.kjw.fridgerecipe
          releaseFiles: ${{steps.sign_app.outputs.signedReleaseFile}}
          track: internal
          whatsNewDirectory: whatsnew